<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">

        </div>
        <div class="col">
        </div>
    </div>
    <form class="text-center border border-light p-3">
        <div class="personajes">
            <kendo-grid [kendoGridBinding]="gridData" [selectable]="true" [height]="450" 
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            width="250">

                <kendo-grid-column field="image" title="Imagen" width="30">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img [src]="photoURL(dataItem.image)" width="100">
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="name" title="Nombre" width="50">
                </kendo-grid-column>
                <kendo-grid-column field="species" title="Especie" width="50">
                </kendo-grid-column>
                <kendo-grid-column field="status" title="Estatus" width="50">
                </kendo-grid-column>
                <ng-template kendoGridDetailTemplate let-dataItem>
                    <section *ngIf="dataItem.name" >
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <img [src]="photoURL(dataItem.image)" width="100">
                                </div>
                                <div class="col">
                                    <p><strong>Nombre: </strong> {{dataItem.name}}</p>
                                    <p><strong>Especie: </strong> {{dataItem.species}}</p>
                                    <p><strong>Género: </strong> {{dataItem.gender}}</p>
                                    <p><strong>Estatus: </strong> {{dataItem.status}}</p>
                                </div>
                                <div class="col">
                                    <p><strong>Origen: </strong> {{dataItem.origin.name}}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-template>
            </kendo-grid>
        </div>
    </form>

</div>